<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #333;
            color: rgb(226, 226, 222);
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
        <br/>
        <div class="col-5 d-flex justify-content-center">
            <div>
                <h3>
                    <a href="http://127.0.0.1:8000/admin" class="text-center mr-2"> ADMIN </a>
                </h3>
            </div>
            <div>
                <h3>
                    <a href="http://127.0.0.1:8000/" class="text-center mr-2"> HOME </a>
                </h3>
            </div>
            <div>
                <h3>
                    <a href="http://127.0.0.1:8000/register" class="text-center"> REGISTER </a>
                </h3>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-J3Jax/fpF2uwmnkfOjyFhLl5x1/K2aR9ZuswAPYAd9Nc67P46ScDH4LvJvLk3i6p" crossorigin="anonymous"></script>
</body>
</html>
